.user_details-wrapper{
    background:  var(--background-gradient);
}


.user_details-container{
    box-shadow: 0 0 25px var(--color1);
    border: none;
    height: 600px;
}

.user_details-container .user_details-form-box{
    width: 100%;
    margin: 0 4rem;

    
}

.user_details-form-box form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_details-form-box form span{
    align-self: flex-end;
}

.user_details-form-box h2{
    color: var(--color1);
    text-transform: capitalize;
}

.user_details-input-box{
    display: flex;
    align-items: center;
    margin: 0.7rem ;
}



.user_details-input-box label{
    width: 10rem;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--color1);
    cursor: pointer;

}

.user_details-input-box input{
    font-size: 1rem;
    font-weight: 600;
    color: var(--color4);
    border-bottom: 2px solid var(--color1-login);
}

.user_details-input-box input::placeholder{
    color: var(--color4);
    font-size: 0.7rem;
    text-transform: none;
    font-weight: lighter;
    

}

.user_details-input-box input:focus,
.user_details-input-box input:invalid{
    border-bottom-color: var(--color1);
}

.user_details-input-box svg{
    color: var(--color1-login);
}

.user_details-input-box input:focus~svg,
.user_details-input-box input:invalid~svg{
    color: var(--color1);
}

.user_details-form-box .user_details-btn{
    margin-top: 2rem;
    width: 10rem;
    
}

.buttons-user_details{
    display: flex;
    column-gap: 1rem;
}

.warning{
    font-size: 0.6rem;
    color: var(--color1-login);

}


/* -----------------------MEDIA QUERY--------------------------- */

@media(max-width:750px){
    .user_details-form-box{
        gap: 1rem;
    }
    .user_details-input-box{
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        margin: 0.5rem;
    }

    .user_details-input-box input{
        font-size: 0.9rem;
        padding-bottom: 0.3rem;
    }

    .user_details-input-box label{
        font-size: 0.9rem;
    }

    .user_details-form-box .user_details-btn{
        width: 7rem;
        font-size: 0.8rem;
        margin-top: 0.5rem;
        
    }

    .buttons-user_details{
        margin-top: 0.5rem;
    }

    .user_details-input-box input::placeholder{
        color:transparent;
    }

    .warning{
        font-size: 0.6rem;
        text-align: center;
    }
}

