.to-do-list{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 700px;
    /* background-color: var(--color2-journal); */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    /* border-radius: 5px; */
    margin-left: 2rem;
    position:relative;
    z-index: 1;
}

.to-do-list::before, .to-do-list::after{
    content: '';
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.to-do-list::before{
    /* background-color: var(--color3-journal); */
    background-color: #fafafa;
    box-shadow: 0 0 8px rgba(0,0,0,.2);
    left:-5px;
    top:4px;
    transform: rotate(-2.5deg);

}

.to-do-list::after{
    background-color: #f6f6f6;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
    left:-3px;
    top: 1px;
    transform: rotate(1.4deg);

}

.list{
    width: 10rem;
    font-family: var(--font-family);
    border: none;
    background-color: var(--color5);
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem;
    padding: 0.3rem;
    outline: none;
}

.add-button, .delete-button{
    padding: 0.3rem;
    border-radius: 5px;
    border: none;
    background-color: var(--color5);
    color: var(--color1);
    cursor: pointer;
    transition: 0.5 ease;
    
}

.delete-button{
    margin-left: 1rem;
}

.add-button:hover, .delete-button:hover{
    background-color: var(--color1);
    color: var(--color5);
}


.label-list-text{
    font-family: var(--font-family2);
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
}

.list-item{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



