.to-do-list{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 600px;
    /* background-color: var(--color2-journal); */
    background-color: var(--color3-journal);
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    /* border-radius: 5px; */
    margin-left: 5rem;
    position: relative;
    z-index: 1;
}

.to-do-list::before, .to-do-list::after{
    content: '';
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.to-do-list::before{
    /* background-color: var(--color3-journal); */
    background-color: #c9bfb3;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    left:-5px;
    top:4px;
    transform: rotate(-3.5deg);

}

.to-do-list::after{
    background-color: #c3b9ac;
    box-shadow: 0 0 3px rgba(0,0,0,.3);
    left:-3px;
    top: 1px;
    transform: rotate(1.8deg);

}

.list{
    width: 10rem;
    font-family: var(--font-family);
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid var(--color1);
    border-left: 1px solid var(--color1);
    background-color: #c3b9ac;
    border-radius: 1px;
    cursor: pointer;
    margin: 1rem;
    padding: 0.4rem;
    outline: none;
}

.list::placeholder{
    font-family: var(--font-family);
    font-size: 1rem;
}

.add-button{
    padding: 0.3rem;
    font-size: 1rem;
    background-color: var(--color1);
    color: var(--color1-journal);
    border: none;
    border: 1px solid var(--color1);
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0,0,0,.3);
    outline: none;
    cursor: pointer;
    transition: 0.3s ease;
    
}



.add-button:hover {
    color: var(--color2-journal);
    
    
}

.list-item{
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.span-item{
    width: 120px;
    margin: 2px 60px 2px 20px;
    padding: 5px;
}

.item-update{
   font-size: 1.2rem;
   color: var(--color1);
   margin-right: 10px;
   cursor: pointer;

}

.item-update:hover{
    transition: 0.3s ease;
}

.update-checked:hover{
    color: #79a344;
}
.update-delete:hover{
    color: var(--color1-login);
}


.label-list-text{
    font-family: var(--font-family2);
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
}



.checked{
    text-decoration: line-through;
}


