.auth-login{
    box-shadow: 0 0 25px var(--color3font);
}

/* .login-details{
    display: flex;
    justify-content: flex-end;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    color: var(--color3font);
}

.forgot-password:hover{
    text-decoration: underline;
    cursor: pointer;
} */





