.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
    background-color: var(--color1);
    padding: 1rem;  
}


.header-svg{
    margin-left: 1rem;
    color: var(--color1-gray);
    cursor: pointer;
    
}

@media(min-width: 1200px) {
    .header-svg{
        display: none;
    }
   
}


