.daily-elem{
    /* background-image: url('../../assets/wallpaper-form03.jpg'); */
    background: linear-gradient(var(--color2-journal), #ffffff);
    /* background-repeat: no-repeat;
    background-size: cover;  */
    
}

.planner-container{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    
}

.section-one{
    display: flex;
    column-gap: 2rem;

}

.section-two{
    display: flex;
    justify-content: center;
}

#reflections{
    width: 400px;
}



.t-planner{
    width: 300px;
    height: 200px;
    background-color: var(--color2-journal);
    box-shadow: none;
}

.button-planner{
    background-color: var(--color6-planner);
    padding: 0.3rem;
    font-size: 1.2rem;
    font-family: var(--font-family2);
    border: none;
    /* box-shadow: 0 5px 10px var(--color4); */
    border-radius: 5px;
    cursor: pointer;
    
}