.daily-elem{
    background:  var(--background-gradient);
    display: flex;
    flex-direction: column;
    align-items: center;   
    column-gap: 10rem;
    margin-bottom: 3rem;
    
    
}

.planner-title{
    text-align: center;
    font-family: var(--font-family2);
    font-size: 4rem;
    font-weight: 600;
    padding: 6rem 6rem 2rem 6rem;
    margin-bottom: 1rem;
    color: var(--color1);
    position: relative;
}

.courage-text{
    margin-bottom: 6rem;
    padding: 2rem;
    font-family: var(--font-family2);
    font-size: 1.2rem;
    color: var(--color4);
    text-align: center;
}

.courage-text::first-letter{
    initial-letter: 2;
    color: var(--color1);
}

.planner-container{
    display: flex;
    justify-content: space-between; 
    column-gap: 10rem;
    /* flex-wrap: wrap; */
    
}

.planner-card{
    display: grid; /* change this to flex*/
    grid-template-rows: auto 1fr; 
    max-height: 500px;

    /* border-radius: 5px; */
    box-shadow: 2px 3px 3px rgba(0,0,0,.2);
    width: 300px;
    height: inherit;
    /* background: repeating-linear-gradient(#F1EDE9,#F1EDE9 31px, var(--color1-login) 32px, var(--color1-login) 32px); */
   
   

    background: var(--background-gradient);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding:  20px;
    margin-top: 20px;
}




  

.top-line-planner{
    width: 100%;
    height: 40px;
    /* background: var(--color1); */
    /* border-radius: 10px 10px 0 0;    */
    background: linear-gradient(90deg, var(--color1), var(--color1-login));
    -webkit-background-clip: text; /* Apply background-clip to the text */
    background-clip: text; /* Apply background-clip to the text */
    color: transparent;
    font-family: var(--font-family2);
    text-align: center;
    /* padding-top: 0.3rem; */
    font-weight: 600;
    font-size: 1.5rem;
    /* border-top: 1px solid var(--color4);
    border-bottom: 1px solid var(--color4); */

    border: none;
    
    border-bottom: 1px solid var(--color4);
    /* border-left: 1px solid var(--color4); */
    
    /* border-bottom-left-radius: 10px; */
    
}



.progress{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem; 
    cursor: pointer;

    overflow-y: auto; /* Enable vertical scrolling */
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}


.progress:hover{
    scrollbar-color: transparent rgba(166, 147, 147, 0.1);
    transition: 0.8s ease-in-out;
    
}


  /* ?????? */
  
  .progress::-webkit-scrollbar {
    background: transparent;
    width: 2px;
  }

  .progress::-webkit-scrollbar-button {
    display: none ; 
    width: 0; 
    height: 0;
  }

  
  .progress::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 1px;
    border: 2px solid transparent;
    background-clip: content-box;
  } 
  
 


.completed-task {
    text-decoration: line-through;
    color: var(--color4);
    font-family: var(--font-family);
    font-size: 1rem;
    color: var(--color1);
    cursor: pointer;
  }
  
.completed-task:hover {
    text-decoration: none;
    color: var(--color1-login);
    transition: 0.4s ease-in-out;
    font-family: var(--font-family2);
    font-size: 1.3rem;
  }








/* -----------------------MEDIA QUERY--------------------------- */


@media(max-width:1700px){
    .planner-container{   
        column-gap: 7rem;
        
    }

}


@media(max-width:1600px){
    .planner-container{   
        column-gap: 2rem;
        
    }
   
}

/* @media(max-width:1480px){
   
    .planner-container{
        flex-wrap: wrap;
        row-gap: 5rem;
        justify-content: center;
        
    }
   
   
} */

@media(max-width:1220px){
    .planner-container{
        flex-direction: column;
        row-gap: 5rem;
        align-items: center;
        
    }

    .planner-title{
        font-size: 3rem;
    }

    .courage-text{
        font-size: 1.1rem;
        margin-bottom: 3rem;
    }

    .planner-card{
        height: 500px;
    } 
  
}

@media(max-width:600px){
    .planner-title{
        font-size: 3rem;
        padding: 4rem 4rem 2rem 4rem;
        margin-bottom: 0;
    }
   
    .planner-card{
        height: 400px;
    } 

    .completed-task{
        font-size: 0.9rem;
    }
}



